---
layout: default
title: Home
---


<div class="container">

        <div class="col-md-4" align="center">
          <i class="fa fa-chevron-down fa-2x" aria-hidden="true" style='color: #f6944d'></i>
          </div>

          <div class="col-md-4" class="featured-post" align="center">
    Dal 2014 Laboratori pomeridiani di progettazione partecipata e autoproduzione.<br>
    Concepiti, da Techlab e dal Liceo Monti, per permettere agli studenti di
    progettare e generare:<br> arredo, servizi e comunicazione per la propria scuola

        <br><br>
        </div>

</div>


{% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}" style="text-decoration: none">
    <div class="featured-posts" {% if post.image.feature %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image.feature }})"{% endif %}>
 <div class="texto">{{post.title}}</div>
    </div>
  </a>
</article>

{% endfor %}

<style>

article:hover  {
    opacity: 0.8;
    filter: alpha(opacity=50);
}

article .texto {
color: #fff;
background-color:rgba(246, 148, 77, 0.5);
text-align: center;
visibility: hidden;
font-size: 300%;
margin-top: 12%;
text-decoration: none;
font-weight: bold;
}

article:hover .texto {
  visibility: visible;
}

.texxto{
color: #000;
text-align: center;
font-size: 100%;
margin-top: 5%;
text-decoration: none;
font-weight: bold;
}

</style>



<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">Older</a>
  {% else %}
    <span class="pagination-button">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Newer</a>
    {% else %}
      <span class="pagination-button">Newer</span>
  {% endif %}
</div>
!-->
